body {
  font-family: "Courier New", Courier, monospace;
  font-size: 4px;
}
table {
  width: 500px;
  height: 500px;
  margin: 20px auto;
  border-collapse: collapse;
  border: 4px;
}
td {
  border: 8px solid;
}

.w20 {
  width: 25px;
  height: 30px;
}

.w10 {
  width: 6%;
  height: 390px;
}
.w11 {
  width: 6%;
  height: 110px;
  background-color: red;
}
.yellow {
  background-color: #ffd915;
}
.yellow2 {
  background-color: #ffd915;
  height: 50px;
}
.y3 {
  background-color: #ffd915;
}
.red {
  background-color: red;
  height: 125px;
}
.blue {
  background-color: #0c0ab5;
  width: 110px;
}
.black1 {
  background-color: black;
}
.black2 {
  background-color: black;
}
.box1 {
  height: 65px;
  width: 45px;
}
.box2 {
  height: 17px;
  width: 10px;
}
.box3 {
  width: 60px;
}
